<% content_for :main_stylesheet do %>
  <%= stylesheet_link_tag "song/song_type_index" %>
<% end %>

<% content_for :main_title do %>
  <li><a href="<%= song_types_url %>" class="link title">首页</a></li>
  <li><a href="<%= songs_url %>" class="link">曲谱</a></li>
  <% if current_manipulatorid %>
    <% if current_manipulatortype == "用户" %>
      <li><a href="<%= personal_info_manipulators_url %>" class="link homepage">个人主页</a></li>
    <% else %>
      <li><a href="<%= manipulators_url %>" class="link managementpage">管理页面</a></li>
    <% end %>
  <% end %>
<% end %>

<% content_for :main_body do %>
  <div class="body">
    <div style="width: 1200px; margin: auto; padding-bottom: 20px;">
      <%= link_to "创建曲谱类型", new_song_type_path, class:"new-button" %>
      
    </div>
    <% @song_types.each do |song_type| %>
      <%= render song_type %>
    <% end %>
  </div>
<% end %>

<% content_for :main_javascript do %>

<% end %>