<p style="color: green"><%= notice %></p>

<%= render @song_type %>

<div>
  <%= link_to "Edit this song type", edit_song_type_path(@song_type) %> |
  <%= link_to "Back to song types", song_types_path %>

  <%= button_to "Destroy this song type", @song_type, method: :delete %>
</div>
