<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="/assets/查询.png" type="image/x-icon">
<title>曲谱交流平台</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= yield :stylesheet %>
<%= stylesheet_link_tag "header", "button", "comment" %>
</head>

  <body>
    <%= yield %>
  </body>
</html>
