<%= form_with(model: manipulator) do |form| %>
  <% if manipulator.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(manipulator.errors.count, "error") %> prohibited this manipulator from being saved:</h2>

      <ul>
        <% manipulator.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :名称, style: "display: block" %>
    <%= form.text_field :名称 %>
  </div>

  <div>
    <%= form.label :密码, style: "display: block" %>
    <%= form.text_field :密码 %>
  </div>

  <div>
    <%= form.label :类型, style: "display: block" %>
    <%= form.text_field :类型 %>
  </div>

  <div>
    <%= form.label :性别, style: "display: block" %>
    <%= form.text_field :性别 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
