<% content_for :title do %>
    <h1>用户登录</h1>
<% end %>

<% content_for :content do %>
    <%= form_with url: do_login_manipulators_path do %>
        <%= hidden_field_tag(:类型, "用户") %>
        <div>
            <span class="div1">名称:</span>
            <div class="div2"><%= text_field_tag :名称 %></div>
        </div>
        <div>
            <span class="div1">密码:</span>
            <div class="div2">
                <%= password_field_tag :密码 %>
                <div class="show-button">显示密码</div>
            </div>
        </div>
        <div style="position: relative;">
            <%= submit_tag '登录', class: "submit-button" %>
        </div>
    <% end %>
    <% if false %>
    <div>
        <%= link_to '返回界面', songs_url, class: "submit2" %>
    </div>
    <% end %>
<% end %>

<% content_for :nav do %>
    <%= link_to '用户注册', user_register_manipulators_url, class: "link" %>
    <%= link_to '用户登录', user_login_manipulators_url, class: "link link-title" %>
    <%= link_to '管理员登录', manager_login_manipulators_url, class: "link" %>
<% end %>