<% content_for :account_stylesheet do %>
    <%= stylesheet_link_tag "account/style1", "button", "frame" %>
<% end %>
<% content_for :account_title do %>
    <h1>用户登录</h1>
<% end %>

<% content_for :account_content do %>
    <%= form_with url: do_login_manipulators_path, remote: true do %>
        <%= hidden_field_tag(:类型, "用户") %>
        <div>
            <span class="div1">名称:</span>
            <div class="div2"><%= text_field_tag :名称 %></div>
        </div>
        <div>
            <span class="div1">密码:</span>
            <div class="div2">
                <%= password_field_tag :密码 %>
                <div class="show-button">显示密码</div>
            </div>
        </div>
        <div style="position: relative;">
            <%= submit_tag '登录', class: "submit-button" %>
        </div>
    <% end %>
    <% if false %>
    <div style="position: relative;">
        <%= link_to '返回', songs_url, class: "return-button" %>
    </div>
    <% end %>
<% end %>

<% content_for :account_nav do %>
    <%= link_to '用户注册', user_register_manipulators_url, class: "link" %>
    <%= link_to '用户登录', user_login_manipulators_url, class: "link link-title" %>
    <%= link_to '管理员登录', manager_login_manipulators_url, class: "link" %>
<% end %>

<% content_for :account_javascript do %>
    <%= javascript_include_tag "jquery.min", "password", "frame", "account/tip" %>
<% end %>