<div id="<%= dom_id manipulator %>">
  <p>
    <strong>名称:</strong>
    <%= manipulator.名称 %>
  </p>

  <p>
    <strong>密码:</strong>
    <%= manipulator.密码 %>
  </p>

  <p>
    <strong>类型:</strong>
    <%= manipulator.类型 %>
  </p>

  <p>
    <strong>性别:</strong>
    <%= manipulator.性别 %>
  </p>

</div>
