<%= form_with(model: song, remote: true) do |form| %>

  <div>
    <span class="div1"><%= form.label :演唱 %>:</span>
    <div class="div2"><%= form.text_field :演唱 %></div>
  </div>

  <div>
    <span class="div1"><%= form.label :作词 %>:</span>
    <div class="div2"><%= form.text_field :作词 %></div>
  </div>

  <div>
    <span class="div1"><%= form.label :作曲 %>:</span>
    <div class="div2"><%= form.text_field :作曲 %></div>
  </div>

  <div>
    <span class="div1"><%= form.label :名称 %>:</span>
    <div class="div2"><%= form.text_field :名称 %></div>
  </div>

  <div>
    <span class="div1">曲谱类型:</span>
    <div class="div2">
      <%= form.collection_check_boxes :song_type_ids, SongType.all, :id, :名称 do |b| %>
        <%= b.label{ b.check_box + b.text } %>
      <% end %>
    </div>
  </div>

  <div style="position: relative;">
      <%= submit_tag @button_text, class: "submit-button" %>
  </div>
<% end %>