<div id="<%= dom_id song %>">
  <p>
    <strong>演唱:</strong>
    <%= song.演唱 %>
  </p>

  <p>
    <strong>作词:</strong>
    <%= song.作词 %>
  </p>

  <p>
    <strong>作曲:</strong>
    <%= song.作曲 %>
  </p>

  <p>
    <strong>名称:</strong>
    <%= song.名称 %>
  </p>
</div>
