<% content_for :main_stylesheet do %>
  <%= stylesheet_link_tag "user_header", "song/song_info" %>
<% end %>

<% content_for :main_title do %>
  <li><a href="<%= song_types_url %>" class="link">首页</a></li>
  <li><a href="<%= songs_url %>" class="link title">曲谱</a></li>
  <% if current_manipulatorid %>
    <% if current_manipulatortype == "用户" %>
      <li><a href="<%= personal_info_manipulators_url %>" class="link homepage">个人主页</a></li>
    <% else %>
      <li><a href="<%= manipulators_url %>" class="link managementpage">管理页面</a></li>
    <% end %>
  <% end %>
<% end %>

<% content_for :main_body do %>
  <div class="body">
    <div style="width: 1200px; margin: auto; padding-bottom: 20px;">
      <%= link_to "创建曲谱", new_song_path, class:"new-button" %>
      
    </div>

      <% @songs.each do |song| %>
        <div class="main" id="song_<%= song.id %>" style="width: 600px; margin: auto;">

        <div class="song">

          <div class="song_user clearfix">
            <div class="song_user_avatar">
              <%= image_tag song.manipulator.头像.图片 %>
            </div>
            <div class="song_user_info">
              <p class="song_user_name"><%= song.manipulator.名称 %></p>
              <p class="song_date"><%= time_ago_in_words(song.created_at) %></p>
            </div>
          </div>

          <div class="song_info clearfix">
            <div class="song_avatar">
                <%= image_tag song.封面.图片 %>
            </div>

            <div class="song_content">
                <h1 class="song_name"><%= song.名称 %></h1>
                <h5>演唱: <%= song.演唱 %></h5>
                <h5>作词: <%= song.作词 %></h5>
                <h5>作曲: <%= song.作曲 %></h5>
                <h5>
                  类型: 
                  <% song.song_types.each_with_index do |song_type, index| %>
                    <% if index == 0 %>
                      <%= song_type.名称 %>
                    <% else %>
                      , <%= song_type.名称 %>
                    <% end %>
                  <% end %>
                </h5>
                <h5>发布者: <%= song.manipulator.名称 %></h5>
                <div class="button">
                  <%= link_to "查看", song, class: "link-button" %>
                  <%= link_to "修改", edit_song_path(song), class: "change-button" %>
                  <%= form_with(model: song, remote: true, method: :delete, class: "form-delete") do |form| %>
                    <%= form.button "删除", class: "delete-button" %>
                    <%= form.hidden_field :ID, value: "id" %>
                  <% end %>
                </div>
            </div>

          </div>

        </div>

        </div>
      <% end %>

  </div>
<% end %>

<% content_for :main_javascript do %>

<% end %>