<%= form_with(model: report) do |form| %>
  <% if report.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
        <% report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :内容, style: "display: block" %>
    <%= form.text_field :内容 %>
  </div>

  <div>
    <%= form.label :状态, style: "display: block" %>
    <%= form.text_field :状态 %>
  </div>

  <div>
    <%= form.label :comment_id, style: "display: block" %>
    <%= form.text_field :comment_id %>
  </div>

  <div>
    <%= form.label :manipulator_id, style: "display: block" %>
    <%= form.text_field :manipulator_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
