<% content_for :main_stylesheet do %>
  <%= stylesheet_link_tag "song/header", "frame", "button", "form", "song/song_type_index" %>
<% end %>

<% content_for :main_title do %>
  <li><a href="<%= song_types_url %>" class="link title">首页</a></li>

  <% if false %>
    <li><a href="<%= songs_url %>" class="link">曲谱</a></li>
  <% if current_manipulatorid %>
    <li><a href="<%= my_page_manipulators_url(current_manipulatorid) %>" class="link">我的主页</a></li>
  <% end %>
  <% if current_manipulatorid and current_manipulatortype == "管理员" %>
    <li><a href="<%= reports_url %>" class="link">管理员界面</a></li>
  <% end %>
  <% end %>

<% end %>

<% content_for :main_body do %>
  <div class="body">
    <div style="width: 1200px; margin: auto; padding-bottom: 20px;">
      <%= link_to "创建曲谱类型", new_song_type_path, class:"new-button" %>
      
    </div>
    <% @song_types.each do |song_type| %>
      <%= render song_type %>
    <% end %>
  </div>
<% end %>

<% content_for :main_javascript do %>
  <%= javascript_include_tag "jquery.min", "frame", "song/tip" %>
<% end %>